.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    background-color: rgb(248, 248, 248);
    color: #161616;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1:hover {
    cursor: pointer;
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95vw;
}

.contact-header, .logo-wrapper {
    font-family: Vidaloka;
}

.mobile-nav-icon {
    display: none;
}

.nav {
    display: flex;
}

.nav > li {
    list-style-type: none;
    margin: 0 1rem;
}

.nav-link, .nav > li > a {
    cursor: pointer;
    color: #161616;
    text-decoration: none;
}

.nav-link:hover, .nav > li > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color: rgb(255, 124, 1);
}

.gallery{
    padding: 0 2vw;
    background-color: rgb(248, 248, 248);
}

.pics {
    padding: 0.4rem 0 5vw;
    filter: grayscale(.04);
}

.pics:hover {
    cursor: pointer;
    filter: grayscale(0);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5vw;
    gap: 2rem;
    text-align: center;
}

.name-and-email {
    display: flex;
    align-items: center;

}

.message-and-submit {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 516px;
    align-items: center;
}

.contact-header {
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.textfield {
    margin: 1rem;
}

button {
    width: 20vw;
    margin: 2vw 0;
    padding: 3vw 0;
    background-color: rgb(248, 248, 248);
    border: 1px solid black;
    cursor: pointer;
}

footer {
    z-index: -1;
    position: sticky;
    bottom: 2px;
    width: 100%;
    text-align: center;

}

.closeNav {
    cursor: pointer;
    position: absolute;
    right: 10px;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 10px;
    }
}

@media only screen and (max-width: 750px) {
    body {
        font-size: 10px;
    }
    h1 {
        font-size: 12px;
    }
    .gallery{
    
    column-width: 100%;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    padding: 0 2vw;
}
}

@media only screen and (max-width: 650px)  {
    .gallery {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 22px;
    }

    .nav {
        display: none;
    }

.mobile-nav-icon {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}

.gallery{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    column-width: 100%;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    padding: 0 2vw;
}
}